@using B2BApp.Models;
@model IEnumerable<SpecialTags>
@{
    ViewData["Title"] = "Index";
}

<br/><br/>
<div class="row">
    <div class="col-6">
        <h2 class="text-info">Lista Producatori</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-info"><i class="fas fa-plus"></i>&nbsp; Producator nou</a>
    </div>
    <br/>
</div>
<br/>
<div>
    <table class="table table-striped border">
        <tr class="table-info">
            <th>
                Producator
            </th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.SpecialTag</td>
                <td>
                    <partial name="_ButtonPartialSpecial" model="@item.Id"/>
                </td>
            </tr>
        }
    </table>
</div>

@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-success">
        <strong>Success!</strong> @TempData["AlertMessage"]
    </div>
}