@model B2BApp.Models.Order
@using B2BApp.Utility
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Order Details";
}
@{

    List<Products> products = HttpContextAccessor.HttpContext.Session.Get<List<Products>>("products");

    if(products == null)
    {
        products = new List<Products>();
    }
}
<br/>

<h2 class="text-info">DETALII LIVRARE</h2><br />
<p>Dacă aveți o comandă care depăşește greutatea de 50 kg, comanda va fi pregătită pe palet şi expediată prin compania de transport Pall-Ex.
Pretul livrării urmează sa vi-l comunicam telefonic și depinde de locația livrării și de greutatea acesteia.</p>
<br />
<form id="Order" asp-controller="Order" asp-action="Checkout" method="post" enctype="multipart/form-data">

    <div class="p-4 rounded border row">
        <div asp-validation-sumarry="ModelOnly" class="text-danger">

        </div>
        <div class="col-md-6">
            <p> <b>DETALII DE FACTURARE</b></p><br/>
            

            <div class="form-group row">
                <div class="col-md-4">
                    <label for="">Ești persoană juridică?</label>
                </div>
                <div class="col-md-8">
                    <label class="radio-container m-r-45">Da
                        <input type="radio" name="PersJur" value="YES" onclick="text(0)" checked/>
                        <span class="checkmark"></span>
                    </label>
                    <label class="radio-container">Nu
                        <input type="radio" name="PersJur" value="NO" onclick="text(1)" />
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
            <br/>
            <div class="form-group row" id="mycode">
                <div class="form-group row">
                    <div class="col-md-4">
                        <label asp-for="Name">Nume Companie*</label>
                    </div>
                    <div class="col-md-8">
                        <input asp-for="Name" class="form-control"/>
                        <span asp-validation-for="Name"  class="text-danger"></span>
                    </div>
                </div> 

                <div class="form-group row">
                    <div class="col-md-4">
                        <label asp-for="CompanyCui">Cod de identificare fiscala(CUI)*</label>
                    </div>
                    <div class="col-md-8">
                        <input asp-for="CompanyCui" class="form-control"/>
                        <span asp-validation-for="CompanyCui" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-4">
                        <label for="">Registrul Comertului</label>
                    </div>
                    <div class="col-md-8">
                        <input for="" class="form-control"/>
                        <span asp-for="" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-4">
                        <label for="">Banca</label>
                    </div>
                    <div class="col-md-8">
                        <input for="" class="form-control"/>
                        <span asp-for="" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-4">
                        <label for="">IBAN</label>
                    </div>
                    <div class="col-md-8">
                        <input for="" class="form-control"/>
                        <span asp-for="" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-4">
                        <label asp-for="PhoneNo">Telefon*</label>
                    </div>
                    <div class="col-md-8">
                        <input asp-for="PhoneNo" class="form-control"/>
                        <span asp-validation-for="PhoneNo" class="text-danger"></span>
                    </div>  
                </div>

                <div class="form-group row">
                    <div class="col-md-4">
                        <label asp-for="Address">Adresa*</label>
                    </div>
                    <div class="col-md-8">
                        <input asp-for="Address" class="form-control"/>
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-4">
                        <label asp-for="Email">Adresa de E-mail*</label>
                    </div>
                    <div class="col-md-8">
                        <input asp-for="Email" class="form-control"/> 
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-4">
                        <label asp-for="OrderDate">Data livrare*</label>
                        <p>(Alege o zi din intervalul urmatoarelor 5-7 zile lucratoare)</p>
                    </div>
                    <div class="col-md-8">
                        <input asp-for="OrderDate" type="text" readonly="readonly" class="form-control"/>
                        <span asp-validation-for="OrderDate" class="text-danger"></span>
                    </div>
                </div>

            </div>

           
        </div>
    
    <br />  
           
        <div class="col-md-6">
                <table class="table table-bordered" 
                <p><b>COMANDA TA</b></p>
                <thead>
                    <tr>
                        <th>IMAGINE</th>
                        <th>PRODUS</th>
                        <th>TOTAL</th>
                        
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in products)
                        {
                            <tr>
                                <td>
                                    <img src="~/@item.Image" height="100px" width="150px"/> 
                                </td>
                                <td><li class="fw-normal">@(item.Quantity) X @item.Name</li></td>
                                <td>@(item.Price * item.Quantity) lei</td>
                            </tr>
                        }
                </tbody>
                </table>
                <div class="text-right">
                     <h3><b>Pret Total :</b> @products.Sum(c=>c.Price*c.Quantity) lei</h3>
                </div>
                <div class="form-group text-right">
                    <input type="submit" value="PLASEAZA COMANDA" class="btn btn-success"/>
                </div>  
        </div>   
    </div>    
</form>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
    <script>
        function text(x) {
            if (x == 0) document.getElementById("mycode").style.display = "block";
            else document.getElementById("mycode").style.display = "none";
            //else document.write("<h1>Ne pare rau! Trebuie sa fii firmă.</h1>");
            return;
        }
    </script>


    <script>
        $(document).ready(function() {
            $( "#OrderDate").datepicker({
                showAnim: "drop",
                changeMonth: true,
                changeYear: true
            });
        });
    </script>
}
