@{
    ViewData["Title"] = "About";
}
<!DOCTYPE html>
<html>

<head>
<title></title>
</head>

<body>

    <br />
    
    <img src="/Images/about.jpg">
    <br />
    <h2 style="font-family:verdana;">Despre Noi</h2>
    <br />
    <p style="font-family:verdana;">Magazinul de băuturi online The Whisky Shop vă oferă nu doar produse de înaltă calitate, cât și servicii la același nivel.</p>
    <br />

    <p style="font-family:verdana;">Platforma online este perfecționată constant pentru ca dumneavoastră să aveți o experiență cât mai plăcută indiferent dacă achiziționați un produs pentru a-l oferi cadou, dacă reprezentaţi o locație de tip HoReCa sau dacă doriţi să cumpărați produse pentru a le revinde.</p>
    <br />

    <p style="font-family:verdana;">The Whisky Shop reprezintă evoluția către viitor, suntem un magazin online independent, practic extensia digitală a Companiei WhiShop, companie cu o experiență de peste 20 de ani în domeniul distribuției de băuturi, fiind una dintre cele mai mari companii din România în acest domeniu de activitate.</p>
    <br /><br />
    <p style="font-family:verdana;">Ne vedem online,</p>
    <p style="font-family:verdana;">Echipa WhiShop</p>
</body>

</html>


