@{
    ViewData["Title"] = "Contact";
}

<div class="container body-content">
    <h2>Contact</h2><br />
    <h3><b>SC WhiShop S.R.L.</b></h3>
    <p>CUI: RO178498141</p>
    <p>Reg.Comertului: F2432/321/1888</p>   
    <p>Capital social: 1.443.632 RON</p>
    <p>Seciu social: strada Calea Bucuresti, nr.413, Craiova, judetul Dolj</p>    
    <p>Banca: BRD Craiova</p>
    <br />
    <p>Telefon: 0712947651</p>
    <p>Mail: whishop@gmail.com</p>
    <br />
    <p><b>Program de Lucru:</b></p>
    <p>Luni-Vineri: 08:00-16:00</p>
    <p>Sambata: Inchis</p>
    <p>Duminica: Inchis</p>
        
</div>




@*<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
*@