@{
    ViewData["Title"] = "Contact";
}

<div class="container body-content">
    <br />
    <h2 style="font-family:verdana; text-align:center;">CONTACT</h2><hr />
    <h3 style="font-family:verdana; text-align:center;"><b>SC WhiShop S.R.L.</b></h3><hr />
    <p style="font-family:verdana; text-align:center;">CUI: RO178498141</p>
    <p style="font-family:verdana; text-align:center;">Reg.Comertului: F2432/321/1888</p>   
    <p style="font-family:verdana; text-align:center;">Capital social: 1.443.632 RON</p>
    <p style="font-family:verdana; text-align:center;">Seciu social: strada Calea Bucuresti, nr.413, Craiova, judetul Dolj</p>    
    <p style="font-family:verdana; text-align:center;">Banca: BRD Craiova</p>
    <hr />
    <p style="font-family:verdana; text-align:center;">Telefon: 0712947651</p>
    <p style="font-family:verdana; text-align:center;">Mail: whishop@gmail.com</p>
    <hr />
    <p style="font-family:verdana; text-align:center;"><b>Program de Lucru:</b></p>
    <p style="font-family:verdana; text-align:center;">Luni-Vineri: 08:00-16:00</p>
    <p style="font-family:verdana; text-align:center;">Sambata: Inchis</p>
    <p style="font-family:verdana; text-align:center;">Duminica: Inchis</p>
        
</div>




@*<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
*@