@model B2BApp.Models.Products
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Session
@{
    ViewData["Title"] = "Details";
}
@using System.Net.Http
@using B2BApp.Utility
@inject IHttpContextAccessor HttpContextAccessor
@{

    List<Products> products = HttpContextAccessor.HttpContext.Session.Get<List<Products>>("products");
    Products product = null;
    if(products != null)
    {
        product = products.FirstOrDefault(c => c.Id == Model.Id);
    }
}

<br/>
<h2 class="text-info">Detalii produs</h2><br />
<form id="Detail" method="post" asp-controller="Home" asp-action="AddToCart">
    <input type="hidden" name="ID" value="@Model.Id" />

    <div class="row">
        <div class="col-md-8">
            <div class="form-group row">
                <label asp-for="Name">Nume</label>
                <input asp-for="Name" readonly="readonly" class="form-control"/>
            </div>

        <div class="form-group row">
            <div class="col-md-4">
                <label asp-for="Price">Pret</label>
            </div>
            <div class="col-md-8">
                <input asp-for="Price" readonly="readonly" class="form-control"/>
            </div>
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>

       @* <div class="form-group row">
            <div class="col-4">
                <label asp-for="Image"></label>
            </div>
            <div class="col-8">
                <input asp-for="Image" class="form-control" type="file" />
            </div>
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>*@

        <div class="form-group row">
            <div class="col-md-4">
                <label asp-for="ProductColor">Tara de Origine</label>
            </div>
            <div class="col-md-8">
                <input asp-for="ProductColor" readonly="readonly" readonly="readonly" class="form-control"/>
            </div>
            <span asp-validation-for="ProductColor" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-md-4">
                <label asp-for="ProductTypeId">Categorie Id</label>
            </div>
            <div class="col-md-8">
               @* <select asp-for="ProductTypeId" asp-items="ViewBag.productTypeId" class="form-control"></select>*@
               <input asp-for="ProductTypeId" readonly="readonly" class="form-control"/> 
            </div>
            <span asp-validation-for="ProductTypeId" class="text-danger"></span>
        </div>

        <div class="form-group row">
            <div class="col-4">
            </div>
            <div class="col-8">
                @if (product != null)
                    {
                        <button type="submit" class="btn btn-danger form-control" asp-action="Remove" asp-route-id="@Model.Id">STERGE DIN COS</button>
                    }
                    else
                    {
                        @if (User.IsInRole("User"))
                        {
                           <button type="submit" class="btn btn-primary form-control" asp-action="AddToCart" asp-route-id="@Model.Id">ADAUGA IN COS</button>
                            @*<a asp-controller="Home" asp-action="Detail" class="btn btn-primary form-control"  asp-route-id="@Model.Id">Add to Cart</a>*@
                        }
                        else
                        {
                           <a asp-area="Identity" asp-page="/Account/Login">Autentifica-te pentru a putea plasa o comanda.</a> 
                           
                        }

                    }  
            </div>
        </div>

        <div class="form-group">
            <a asp-action="Index" class="btn btn-success">INAPOI LA CUMPARATURI</a>
        </div>
        </div>
        
        <div class="col-md-4">
            <div class="thumb">
                <img src="~/@Model.Image"  width="100%" style="border-radius: 5px; border: 1px solid #efefef" id= "DetailImage"/>
                 @if (Model.IsAvailable)
                 {
                         <img src="/Images/instock-logo.JPG" width="300px" height="100px" />
                 }
                 else
                    {
                         <img src="/Images/outofstock.JPG" width="200px" height="100px" />
                    }
            </div>
        </div>
       
    </div>
</form>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
